.divka {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  /* width: 300px; */
}
.button{
  display: inline-block;
  zoom: 1;
  margin: 0;
  margin-top: 10px;
  cursor: pointer;
  border: 1px solid #bbb;
  overflow: visible;
  font: bold 13px arial, helvetica, sans-serif;
  text-decoration: none;
  white-space: nowrap;
  background-color: #ca3535;
  border-color: #c43c35;
  padding: 12px 30px;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0,0,0,.2);
}

.button:hover{
  background-color: #ee5f5b;
  color: #555;
}